@import "@fontsource/dm-sans/400.css";
@import "@fontsource/dm-sans/500.css";
@import "@fontsource/dm-sans/700.css";
@import "@fontsource/roboto-mono/400.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: var(--color-ui-primary);
    color: var(--color-text-secondary);
}

body {
    font-size: 20px;
    font-family: var(--main-font);
    background: var(--color-background);
    color: var(--color-text-primary);
}

[aria-label] {
    position: relative;
    cursor: pointer;
}

[aria-label]:after {
    content: attr(aria-label);
    opacity: 0;
    transform: translateX(-50%);
    left: 50%;
    bottom: 80%;
    pointer-events: none;
    transition: all 0.18s ease-out 0s;
    text-indent: 0;
    font-weight: 400;
    font-style: normal;
    text-shadow: none;
    font-size: 20px;
    background: #000;
    border-radius: 2px;
    color: var(--color-text-primary);
    padding: 20px 10px;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
    line-height: 0;
}

[aria-label-bottom]:after {
    top: 80%;
}

[aria-label]:hover:after {
    opacity: 1;
    transform: translate(-50%, -25%);
}

[aria-label-bottom]:hover:after {
    transform: translate(-50%, 25%);
}

a {
    color: var(--color-text-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-ui-primary);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.7em;
}

h6 {
    font-size: 0.5em;
}

button {
    margin: 0;
    padding: 0;
    background: inherit;
    border: inherit;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--color-ui-tint);
    font-size: 20px;
    color: var(--color-text-primary);
    padding: 5px 15px;
    border: none;
    font-family: var(--main-font);
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    outline: none;
}

.button:disabled {
    color: var(--color-text-secondary);
    cursor: default;
}

.button:hover:enabled,
.button:focus:enabled {
    background: var(--color-ui-primary);
    color: var(--color-text-secondary);
}

.input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
    font-family: var(--main-font);
    background: rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    color: var(--color-ui-primary);
    border-radius: 5px;
    margin: 5px 0;
}

.input::placeholder {
    color: var(--color-text-secondary);
}
