@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

:root {
    --bg-color: #262a33;
    --fg-color: #43ffaf;
    --sub-color: #526777;
    --text-color: #fff;
    --correct-color: #fff;
    --incorrect-color: #43ffaf;
    --main-font: "Roboto";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font), sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

[aria-label] {
    position: relative;
    cursor: pointer;
}

[aria-label]:after {
    opacity: 0;
    transform: translateX(-50%);
    left: 50%;
    bottom: 80%;
    pointer-events: none;
    transition: all .18s ease-out 0s;
    text-indent: 0;
    font-weight: 400;
    font-style: normal;
    text-shadow: none;
    font-size: 20px;
    background: #000;
    border-radius: 2px;
    color: var(--text-color);
    content: attr(aria-label);
    padding: 20px 10px;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
    line-height: 0;
}

[aria-label]:hover:after {
    opacity: 1;
    transform: translate(-50%, -25%);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--fg-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.header h1 {
    color: var(--fg-color);
}

.header div a {
    font-size: 20px;
}

.correct {
    color: var(--correct-color) !important;
}

.incorrect {
    color: var(--incorrect-color) !important;
}

h1 {
    font-family: Oxygen, sans-serif;
    font-size: 55px;
}

button {
    background: rgba(0,0,0,.1);
    color: var(--text-color);
    padding: 5px 15px;
    border: none;
    font-family: var(--main-font), sans-serif;
    border-radius: 5px;
    transition: all .3s;
    cursor: pointer;
}

button:hover {
    background: var(--fg-color);
    color: var(--sub-color);
}

.app {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    min-height: 100vh;
}

.prompt {
    position: relative;
    font-size: 27px;
    color: var(--sub-color);
}

#test-time {
    font-size: 100px;
    text-align: center;
    line-height: 0;
    position: relative;
    bottom: 100px;
    color: var(--sub-color);
    user-select: none;
}

.select-time-container {
    height: 0;
    position: relative;
    top: 50px;
    color: var(--sub-color);
}

.select-time-container .times {
    display: flex;
    column-gap: 10px;
}

.select-time-container .times div {
    cursor: pointer;
    transition: color .3s;
}

.select-time-container .times div:hover {
    color: var(--text-color);
}

.select-time-container div.selected {
    color: var(--fg-color);
}

.caret {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    height: 32px;
    width: 2px;
    background: var(--fg-color);
    left: 0;
    top: 7px;
}

.caret.flashing {
    animation: caret-animation 1s infinite;
}

input.type-input {
    height: 0;
    padding: 0;
    margin: 0;
    display: block;
    border: none;
    outline: none;
}

.words {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.7;
    height: 125px;
    overflow: hidden;
    user-select: none;
}

.words .word {
    margin: 0 5px;
}

@keyframes caret-animation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.blur {
    filter: blur(2px);
}

.forms {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.form {
    display: block;
}

.form input {
    display: block;
    padding: 10px 15px;
    font-family: var(--main-font), sans-serif;
    background: rgba(0,0,0,.1);
    border: none;
    outline: none;
    color: var(--fg-color);
    border-radius: 5px;
    margin: 5px 0;
}

.form input::placeholder {
    color: var(--sub-color);
}

.results {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50px;
    grid-template-areas: 
        "stats chart"
        "extra-stats extra-stats";
}

.stats {
    grid-area: stats;
}

.stats .group {
    margin-bottom: 25px;
}

.stats .top {
    line-height: .5;
    font-size: 40px;
}

.stats .bottom {
    font-size: 80px;
    color: var(--fg-color);
}

.chart {
    grid-area: chart;
}

.extra-stats {
    grid-area: extra-stats;
}

.extra-stats {
    display: flex;
    justify-content: space-between;
}

.extra-stats .top {
    line-height: .5;
    font-size: 20px;
}

.extra-stats .bottom {
    font-size: 40px;
    color: var(--fg-color);
}

.dashboard {
    align-self: start;
    padding: 100px 0 0 0;
}

.dashboard .saved-tests {
    margin-top: 100px;
}

.dashboard .saved-tests h2 {
    margin-bottom: 15px;
}

.dashboard .saved-tests table {
    border-collapse: collapse;
}

.dashboard .saved-tests table td {
    padding: 20px;
}

.dashboard .saved-tests table thead {
    color: var(--sub-color);
}

.dashboard .saved-tests table tbody td {
    font-size: 17px;
}

.dashboard .saved-tests table tbody tr:nth-child(odd) td {
    background: rgba(0,0,0,0.1);
}