:root {
    --color-background: #282a36;
    --color-ui-primary: #bd93f9;
    --color-ui-tint: #191a22;
    --color-text-primary: #f8f8f2;
    --color-text-secondary: #44475a;
    --color-test-correct: #f8f8f2;
    --color-test-incorrect: #ff5555;
    --main-font: "DM Sans", sans-serif;
    --mono-font: "Roboto Mono", monospace;
}
