:root {
    --color-background: #3b4252;
    --color-ui-primary: #5e81ac;
    --color-ui-tint: #2e3440;
    --color-text-primary: #eceff4;
    --color-text-secondary: #4c566a;
    --color-test-correct: #eceff4;
    --color-test-incorrect: #bf616a;
    --main-font: "DM Sans", sans-serif;
    --mono-font: "Roboto Mono", monospace;
}
