:root {
    --bg-color: #e5e9f0;
    --primary-color: #88c0d0;
    --secondary-color: #2e3440;
    --accent-color: #d8dee9;
    --text-color: #4c566a;
    --test-correct-color: #88c0d0;
    --test-incorrect-color: #bf616a;
    --main-font: "DM Sans", sans-serif;
    --mono-font: "Roboto Mono", monospace;
}
