<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h2>You've been invited to join TypeTest!</h2>
        <p>
            To get started,
            <a href="{{ .ConfirmationURL }}/dashboard/update"
                >click on this invitation link</a
            >.
        </p>
        <p>
            After clicking on the link, you will be prompted to create a secure
            password. Thank you for joining TypeTest!
        </p>
        <p>- The TypeTest Team</p>
    </body>
</html>
