<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h2>Recover your TypeTest password:</h2>
        <p>
            In order to recover your TypeTest password,
            <a href="{{ .ConfirmationURL }}"
                >click on this password reset link</a
            >.
        </p>
        <p>Thank you!</p>
        <p>- The TypeTest Team</p>
    </body>
</html>
